@import '_variables.styl'
@import '_typo.styl'
@import '_animations.styl'
@import '_images.styl'
@import '_comments.styl'
@import '_buttons.styl'

body
  background offwhite
  min-width 420px

.grid-photo-wrap
  position relative

.photo-grid
  display flex
  flex-wrap wrap
  max-width 1200px
  min-width 420px
  margin 0 auto
