.main-nav {
  @include flexie;
  padding: 10px;
}

.main-logo {
  @include link-style;
  @include flex-column-center;
  min-height: 100px;
  color: $white;
  font-size: 1.3rem;
  &:hover {
    color: $white-trn;
    cursor: pointer;
  }
}
